{% load widget_tweaks %}

<label
  for="message"
  class="block mb-2 text-3xl text-center text-white font-bold"
  >देवनागरीलिपीतून मोडीलिपीत रूपांतर करा.</label
>
<form x-cloak x-data="{ translate_form: '' }">
  {% csrf_token %}
  <div class="border border-gray-600 px-4 py-4 rounded-3xl">
    <textarea
      x-data
      x-grow
      x-model="translate_form"
      name="text_data"
      id="message"
      class="resize-none block bg-gray-900 text-white w-full focus:outline-none p-1 text-2xl"
      placeholder="तुमचा मजकूर येथे लिहा..."
      required
    ></textarea>
    <button
      id="translate_button"
      hx-post="{% url 'translate' %}"
      hx-target="#translated_text"
      hx-swap="outerHTML"
      type="submit"
      class="w-full bg-blue-500 p-3 rounded-2xl text-white font-bold text-xl"
      :class="(translate_form.trim().length > 0) ? 'px-6 py-2.5 bg-blue-500 rounded-2xl' : 'bg-gray-200 cursor-not-allowed text-gray-400'">
      रूपांतर करा  
      <svg class="htmx-indicator animate-spin mx-2 h-5 w-5 text-white inline-block" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-20" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-2" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
    </button>
  </div>
</form>
