{% load widget_tweaks %}

<label
  for="message"
  class="block mb-2 text-xl text-center font-bold text-gray-900"
  >देवनागरीलिपीतून मोडिलिपीत रूपांतर करा.</label
>
<form x-cloak x-data="{ translate_form: '' }">
  {% csrf_token %}
  <div class="border px-4 py-4 rounded-3xl">
    <textarea
      x-data
      x-grow
      x-model="translate_form"
      name="text_data"
      id="message"
      rows="4"
      class="resize-none block w-full focus:outline-none p-1 text-xl"
      placeholder="तुमचा मजकूर येथे लिहा..."
      required
    ></textarea>
    <button
      id="translate_button"
      hx-post="{% url 'translate' %}"
      hx-target="#translated_text"
      hx-swap="outerHTML swap:2s"
      type="submit"
      class="w-full bg-blue-500 p-3 rounded-2xl text-white font-bold"
      :class="(translate_form.trim().length > 0) ? 'px-6 py-2.5 bg-blue-500 rounded-2xl' : 'bg-gray-200 cursor-not-allowed text-gray-400'">
      रूपांतर करा  
    </button>
  </div>
</form>
