{% load widget_tweaks %}


<p class="block mb-2 text-3xl text-center text-white font-bold">देवनागरीलिपीतून मोडीलिपीत रूपांतर करा.</p>
<form x-cloak x-data="{ translate_form: '' }">
  {% csrf_token %}
  <div class="border border-gray-600 px-4 py-4 mx-1 rounded-3xl" style="{font-family: 'Noto Sans Modi', sans-serif;}">
    <textarea
      x-data
      x-grow
      x-model="translate_form"
      name="text_data"
      id="message"
      class="resize-none block bg-gray-900 text-white w-full focus:outline-none p-1 text-lg font-mono"
      placeholder="तुमचा मजकूर येथे लिहा..."
      required
    ></textarea>
    <button
      id="translate_button"
      hx-post="{% url 'translate' %}"
      hx-target="#translated_text"
      hx-swap="outerHTML"
      hx-indicator="#text_spinner"
      type="submit"
      class="w-full bg-blue-500 p-3 rounded-2xl text-white font-bold text-lg"
      :class="(translate_form.trim().length > 0) ? 'px-6 py-2.5 bg-blue-500 rounded-2xl' : 'bg-gray-200 cursor-not-allowed text-gray-400'" :disabled="translate_form.trim().length == 0">
      रूपांतर करा  
    </button>
  </div>
  <a hx-boost="true" class="float-right"  href="{% url 'about' %}"><small class="text-white hover:underline text-lg">कसं वापरावं ?</small></a>
</form>
