

{% if base_image %}
  <!--django messsage-->
    {% if messages %}
    {% for message in messages %}
    <div
      x-cloak
      x-show="showAlertImage"
      x-data="{ showAlertImage: true }"
      x-init="setTimeout(() => showAlertImage = false, 5000)"
      role="alert"
      class="alert border border-gray-600 px-6 py-4 rounded-3xl mb-2 text-white text-center text-lg bg-gradient-to-r from-slate-900 via-purple-900 to-slate-900">
        {{ message }}
    </div>
    {% endfor %}
  {% endif %}
  <!--django messsage-->
  <!--django messsage-->
  <div class="mt-2">
      <a class="absolute py-1 px-2 m-1 md:text-md text-sm rounded-lg border-r border-b border-l border-t bg-gray-900 focus:border-double text-white" href="{{ base_image }}" download>
        साठवा
      </a>
      <img src="{{ base_image }}" class="w-full rounded-2xl" />
  </div>
{% endif %}