aksharamukha==2.0.4
asgiref==3.5.2
certifi==2022.9.24
charset-normalizer==2.1.1
Deprecated==1.2.13
Django==4.1.1
django-browser-reload==1.6.0
django-widget-tweaks==1.4.12
fonttools==4.37.3
idna==3.4
imgkit==1.2.2
jaconv==0.3
langcodes==3.3.0
language-data==1.1
lxml==4.9.1
marisa-trie==0.7.7
Pillow==9.2.0
pykakasi==2.2.1
PyYAML==6.0
regex==2022.9.13
requests==2.28.1
six==1.16.0
sqlparse==0.4.3
tzdata==2022.2
unicodedata2==14.0.0
urllib3==1.26.12
wrapt==1.14.1
