{% load static %} 

<html lang="mr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}{% endblock title %}</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://res.cloudinary.com/dwltrduan/image/upload/v1664985460/%E0%A4%AE%E0%A5%8B%E0%A4%A1%E0%A5%80/apple-touch-icon_poawkb.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://res.cloudinary.com/dwltrduan/image/upload/v1664985461/%E0%A4%AE%E0%A5%8B%E0%A4%A1%E0%A5%80/favicon-32x32_b8whcw.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://res.cloudinary.com/dwltrduan/image/upload/v1664985460/%E0%A4%AE%E0%A5%8B%E0%A4%A1%E0%A5%80/favicon-16x16_gli3il.png"
    />

    <!--pwa link-->
    <script type="module">
      import "https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate";
      const el = document.createElement("pwa-update");
      document.body.appendChild(el);
    </script>
    <!--pwa link-->

    <!--menifest.json-->
    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <!--menifest.json-->

    <!--meta tags-->
    <title>
      देवनागरीलिपीतून मोडीलिपीत | Devanagari Script To MoDi Script Converter
    </title>
    <meta
      name="title"
      content="देवनागरीलिपीतून मोडीलिपीत | Devanagari Script To MoDi Script Converter"
    />
    <meta
      name="description"
      content="देवनागरीलिपीत लिहिलेला मजकूर मोडीलिपीत रूपांतरित करणारं संकेतस्थळ. 
    A website that converts Devanagari Text into MoDi Script Text."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://modilipi.onrender.com" />
    <meta
      property="og:title"
      content="देवनागरीलिपीतून मोडीलिपीत | Devanagari Script To MoDi Script Converter"
    />
    <meta
      property="og:description"
      content="देवनागरीलिपीत लिहिलेला मजकूर मोडीलिपीत रूपांतरित करणारं संकेतस्थळ. 
    A website that converts Devanagari Text into MoDi Script Text."
    />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/dwltrduan/image/upload/v1664985483/%E0%A4%AE%E0%A5%8B%E0%A4%A1%E0%A5%80/preview_s8uxvn.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://modilipi.onrender.com" />
    <meta
      property="twitter:title"
      content="देवनागरीलिपीतून मोडीलिपीत | Devanagari Script To MoDi Script Converter"
    />
    <meta
      property="twitter:description"
      content="देवनागरीलिपीत लिहिलेला मजकूर मोडीलिपीत रूपांतरित करणारं संकेतस्थळ. 
    A website that converts Devanagari Text into MoDi Script Text."
    />
    <meta
      property="twitter:image"
      content="https://res.cloudinary.com/dwltrduan/image/upload/v1664985483/%E0%A4%AE%E0%A5%8B%E0%A4%A1%E0%A5%80/preview_s8uxvn.png"
    />
    <!--meta tags-->
    {% include 'css_cdns/css.html' %}
  </head>
  <body class="bg-gray-900 antialiased">
    <header class="text-gray-600 body-font">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <nav
          class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center"
        >
          <a href="https://twitter.com/om211196" class="mr-5 hover:text-white"
            ><svg
              class="w-6 h-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.066 9.645c.183 4.04-2.83 8.544-8.164 8.544-1.622 0-3.131-.476-4.402-1.291 1.524.18 3.045-.244 4.252-1.189-1.256-.023-2.317-.854-2.684-1.995.451.086.895.061 1.298-.049-1.381-.278-2.335-1.522-2.304-2.853.388.215.83.344 1.301.359-1.279-.855-1.641-2.544-.889-3.835 1.416 1.738 3.533 2.881 5.92 3.001-.419-1.796.944-3.527 2.799-3.527.825 0 1.572.349 2.096.907.654-.128 1.27-.368 1.824-.697-.215.671-.67 1.233-1.263 1.589.581-.07 1.135-.224 1.649-.453-.384.578-.87 1.084-1.433 1.489z"
              /></svg
          ></a>
          <a href="https://thelekhani.com" class="mr-5 hover:text-white text-3xl"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12.75 3.03v.568c0 .334.148.65.405.864l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 01-1.161.886l-.143.048a1.107 1.107 0 00-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 01-1.652.928l-.679-.906a1.125 1.125 0 00-1.906.172L4.5 15.75l-.612.153M12.75 3.031a9 9 0 00-8.862 12.872M12.75 3.031a9 9 0 016.69 14.036m0 0l-.177-.529A2.25 2.25 0 0017.128 15H16.5l-.324-.324a1.453 1.453 0 00-2.328.377l-.036.073a1.586 1.586 0 01-.982.816l-.99.282c-.55.157-.894.702-.8 1.267l.073.438c.08.474.49.821.97.821.846 0 1.598.542 1.865 1.345l.215.643m5.276-3.67a9.012 9.012 0 01-5.276 3.67m0 0a9 9 0 01-10.275-4.835M15.75 9c0 .896-.393 1.7-1.016 2.25"
              />
            </svg>
          </a>
          <a href="https://github.com/ImOmkar/translate" class="mr-5 hover:text-white"
            ><svg
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                clip-rule="evenodd"
              ></path></svg
          ></a>
          <a hx-boost="true" href="{% url 'about' %}" class="mr-5 hover:text-white"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
              /></svg
          ></a>
        </nav>
      </div>
    </header>

    {% block content %} {% endblock content %}

    <!--footer-->
    <footer
      class="fixed max-w-screen-2xl px-1 md:px-8 mx-auto bottom-0 right-0"
    >
      <div
        class="text-gray-400 font-mono text-sm text-center mb-1 bg-gray-800 px-2 py-1 rounded-lg"
      >
        Made with ❤️ in महाराष्ट्र
      </div>
    </footer>
    <!--footer-->

    {% include 'js_cdns/js.html' %}
  </body>
</html>
