
{% load widget_tweaks %}

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://cdn.tailwindcss.com"></script>
    {% include 'css_cdns/css.html' %}
  </head>
  <body>
    {% block content %} 

    {% endblock content %}

    {% include 'js_cdns/js.html' %}
  </body>
</html>
