{% extends 'translate/base.html' %}
{% load static %}
{% block title %}देवनागरीलिपीतून 👉 मोडिलिपित{% endblock title %}
{% block content %}

<style>
  .htmx-indicator{
    display:none;
    transition: opacity 500ms ease-in;
  }
  .htmx-request .htmx-indicator{
      display:inline;
  }
  .htmx-request.htmx-indicator{
      display:inline;
  }
</style>


<div class="mx-auto max-w-lg pt-36">
  {% include 'htmx/partial_translate.html' %} 
  {% include 'translate/translated_data.html' %}
</div>

{% endblock content %}
